# Node dependencies
node_modules/

# Environment files
.env

# Build output (if you later compile TS)
dist/

# Upload temp folder
uploads/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
